# Ignora este mismo fichero
.gitignore

# Ignorar carpeta anteproyecto
anteproyecto/

# Ignorar carpeta repaso_py
repaso_py/

# Ignorar carpeta datos
datos/

# Ignora el requirements de la raiz, no se usa
requirements.txt

# Ignoramos comandos, ya estan en el readme
comandos.txt
