antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
binaryornot==0.4.4
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1728263384570/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1724028158384/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1695468605343/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1652954517238/work
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1708608886262/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
dynaconf @ file:///home/conda/feedstock_root/build_artifacts/dynaconf_1721639270240/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1651017731964/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1729608855534/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
graphlib-backport @ file:///home/conda/feedstock_root/build_artifacts/graphlib-backport_1635566048409/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
kedro @ file:///home/conda/feedstock_root/build_artifacts/kedro_1732660804613/work
kedro-datasets @ file:///home/conda/feedstock_root/build_artifacts/kedro-datasets_1698151894249/work
kedro-telemetry @ file:///home/conda/feedstock_root/build_artifacts/kedro-telemetry_1732744952187/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1648854389294/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1723774329602/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737563195/work
matplotlib @ file:///croot/matplotlib-suite_1693812469450/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1725630081114/work
munkres==1.1.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020413938/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1701735466804/work
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==1.4.2
parse @ file:///home/conda/feedstock_root/build_artifacts/parse_1718111026786/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1630696607296/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
pre_commit_hooks @ file:///home/conda/feedstock_root/build_artifacts/pre-commit-hooks_1728898710051/work
py4j @ file:///home/conda/feedstock_root/build_artifacts/py4j_1660381574436/work
pyarrow @ file:///croot/pyarrow_1721664224170/work/python
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1727644064167/work
PyQt5==5.15.4
PyQt5-sip==12.9.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pyspark @ file:///home/conda/feedstock_root/build_artifacts/pyspark_1729807581730/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify-split_1707425621764/work
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1675124745143/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1726055524169/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757091578/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1730592237829/work/dist
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1711296293824/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1649033203966/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1649013063220/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1652976690378/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1653073867187/work
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1646101181167/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1694707102786/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827257044/work
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1727940235703/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111919534/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
zstandard @ file:///croot/zstandard_1728569189425/work
